<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Flask</title>
</head>
<body>

    {% if current_user.is_authenticated %}
        {% include '/menu-login.html' %}
    {% else %}
        {% include '/menu.html' %}
    {% endif %}

    <div class="principal">

        {% if current_user.is_authenticated %}
            <h1 class="LoginH1">Bienvenido, {{ username }}!</h1>
        {% else %}
            <h1 class="LoginH1">Bienvenido</h1>
        {% endif %}

        <p class="pApi">Tienes acceso a las siguientes Apis:</p>

        <table  class="principalTabla">

            <tr>
                <th>Api</th>
                <th>Link Acceso</th>
                <th>Modo Uso</th>
            </tr>
            <tr>
                <td>Consultar todos los productos</td>
                <td class="Ulink">/api/productos</td>
                <td>Ingreso directo</td>
            </tr>
            <tr>
                <td>Consultar un producto según su ID</td>
                <td class="Ulink">/api/productos/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Consultar un producto según su nombre</td>
                <td class="Ulink">/api/productos/nombre?nombre="nombre-producto"</td>
                <td>Se cambia <strong>"nombre-producto"</strong> por el nombre del producto, ejemplo <strong>=malteada</strong></td>
            </tr>
            <tr>
                <td>Consultar las calorías de un producto según su ID</td>
                <td class="Ulink">/api/calorias/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Consultar la rentabilidad de un producto según su ID</td>
                <td class="Ulink">/api/rentabilidad/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Consultar el costo de producción de un producto según su ID</td>
                <td class="Ulink">/api/costos/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Vender un producto según su ID</td>
                <td class="Ulink">/api/vender/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Consultar todos los Ingredientes</td>
                <td class="Ulink">/api/ingredientes</td>
                <td>Ingreso directo</td>
            </tr>
            <tr>
                <td>Consultar un ingrediente según su ID</td>
                <td class="Ulink">/api/ingredientes/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del ingrediente ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Consultar un ingrediente según su nombre</td>
                <td class="Ulink">/api/ingredientes/nombre?nombre="nombre-ingrediente"</td>
                <td>Se cambia <strong>"nombre-ingrediente</strong>" por el nombre del ingrediente, ejemplo <strong>=helado</strong></td>
            </tr>
            <tr>
                <td>Consultar si un ingrediente es sano según su ID</td>
                <td class="Ulink">/api/ingredientes/es_sano/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del ingrediente ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Reabastecer un ingrediente según su ID</td>
                <td class="Ulink">/api/ingredientes/abastecer/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt</strong>; por el id del producto ej: <strong>/1</strong></td>
            </tr>
            <tr>
                <td>Renovar el inventario de un producto según su ID</td>
                <td class="Ulink">/api/ingredientes/renovar/&lt;int:id&gt;</td>
                <td>Se cambia <strong>&lt;int:id&gt;</strong> por el id del producto ej: <strong>/1</strong></td>
            </tr>
      

    </table>
        
        
    </div>
   
</body>
</html>