<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Flask</title>
</head>
<body>

    {% if current_user.is_authenticated %}
        {% include '/menu-login.html' %}
    {% else %}
        {% include '/menu.html' %}
    {% endif %}
    

    <div class="principal">
        <table  class="principalTabla">

                <tr>
                    <th>id Producto</th>
                    <th>Nombre</th>
                    <th>Tipo Producto</th>
                    <th>Presentacion</th>
                    <th>Precio</th>
                </tr>

                
                {% for producto in productos %}
                    <tr>
                        <td>{{producto.idproducto}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.tipo_producto}}</td>
                        <td>{{producto.presentacion}}</td>
                        <td>${{'{:,}'.format(producto.precio_publico)}}</td>
                    </tr>    
                {% endfor %}
                

        </table>
    </div>    
   
</body>
</html>