<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Flask</title>
</head>
<body>

    <div class="menu">
        <a href="/" class="menua">Inicio</a>    
        <a href="/productos" class="menua">Productos</a>    
        <a href="/ingredientes"class="menua">Ingredientes</a>
        <a href="/ventas"class="menua">Ventas</a>
    </div>

    <div class="principal">
        <table  class="principalTabla">

                <tr>
                    <th>Nombre</th>
                    <th>Tipo Producto</th>
                    <th>Presentacion</th>
                </tr>

                
                {% for producto in productos %}
                    <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.tipo_producto}}</td>
                        <td>{{producto.presentacion}}</td>
                    </tr>    
                {% endfor %}
                

        </table>
    </div>    
   
</body>
</html>